*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.descrpcion{
    text-align: center;
}
/*Index*/
header{
    display: flex;
    background-color: beige;
    height: 60px;
    padding:10px;
    
}
.menu{
    display:flex;
    list-style-type: none;
    gap:10px;
    grid-gap:10px;
    align-items: center;
    height:100%
}
.navbar{
    display:flex;
    align-items: center;
}

body h6{
    display: flex;
    text-align: center;
    background-color: white;
    text-decoration: underline ;
    justify-content: center;
    padding: 10px;
}

.logonarelss{
    display: inline-block;
    
    margin-left: 27%;
   padding-bottom: 10px;
    
}

.buscar{
    display: inline-block;
    align-items: left;
}

.wsp{
    position: fixed;
    bottom:10px;
    right: 10px;
    width: 80px;
}


/*Cartas*/

.carta{
    display: flex;
    background-color: #e4e4e4;
    padding: 20px;
    border-radius:10px ;
    margin-inline: 1.5%;

}
.cartaimg:hover, .cartaimg2:hover,.cartaimg3:hover{
    border: 10px solid beige;
}
.contenido{
    padding:30px;
}
.cartaimg, .cartaimg2, .cartaimg3{
    width: 100%;
    padding:10px;
}

.info{
    color:grey;
    align-items: center;
}

/*Productos*/



.descripciontemporada{
    text-align: center;
}

.col-md-3:hover{
    opacity: 0.50;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}


.piedepagina{
    text-align: center;
    color: grey;
    text-decoration: none;
    padding:50px;
}



/*Contacto*/

.contacto{
    text-align: center;
}
.imagencontacto{
    max-width: 100%;
    height: 200px;
    display: flex;
    margin:5px;
    border-radius: 30px;
}



